.container-fluid{
  width: 600px;
}
body{
  background-image: url(https://img.freepik.com/free-vector/gradient-mountain-landscape_52683-77407.jpg?size=626&ext=jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
